.container{
    padding: 0 2rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex: 1;
  justify-content: flex-start;
  padding-top: 3rem;
  }

  .blogs h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  font-size: 38px;
}
.blogs h3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  font-size: 28px;
  cursor: pointer;
}

